node_modules/
.vercel/
*.log
Thumbs.db
.DS_Store
.env.sync
.vscode/
public/assets/guardians-of-ganja/images/inbox/*.mp4
public/assets/guardians-of-ganja/images/inbox/*.mov
public/assets/guardians-of-ganja/images/inbox/*.glb
.vercel
